form {
  width: 300px;

  border-radius: 5px;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 4rem 0;

  .switch-authmode {
    font-size: 0.8rem;
    margin: auto;
    padding: 1rem;
    a {
      text-decoration: underline;
    }
  }
}

.login-form {
  position: relative;
  .auth-error {
    font-size: 0.8rem;
    color: red;
    position: absolute;
    top: 9.5rem;
    left: 4rem;
  }
  button {
    margin-top: 3rem;
  }
}
.button-div {
  display: flex;
}

.register-form {
  position: relative;
  .email-error {
    top: 8.2rem;
    left: 3.5rem;
  }
  .name-error {
    top: 4.2rem;
    left: 3.5rem;
  }
  .password-error {
    top: 12.2rem;
    left: 3.5rem;
  }
}

.postform {
  width: 700px;
  position: relative;
  h3 {
    text-align: center;
  }
  .text-inputs {
    display: flex;
    align-items: center;
    input {
      width: 45%;
    }
  }
  textarea {
    margin-top: 2rem;
  }

  .description-error,
  .color-error {
    top: 8.5rem;
    left: 3.5rem;
  }
  .color-error {
    top: 4.5rem;
  }

  &-info {
    font-size: 0.8rem;
    p {
      margin: 0;
    }
    a {
      text-decoration: underline;
    }
  }
  &-edit {
    margin: 0;
  }
}

.searchbar {
  background-color: rgba(231, 231, 231, 0.63);
  width: 700px;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  #color,
  .color-option,
  label {
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .postform {
    width: 80%;
    button {
      width: 40%;
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }
  .postform.postform-edit {
    width: 90%;
  }
}
